/* .navbar-brand {
  color: green !important;
} */

* {
    margin: 0;
    padding: 0;
  }
.container{
text-align: center;
text-decoration: yellow;
position: absolute;
padding: 40px 30px ;
}


#change-color-btn{
height: 60%;  
position: absolute; 
top: 90%;
left: 60%;
width: 7rem;
font-size: large;
padding: 20px;
margin-left: 130px;
}
.text{
text-align: center;
text-decoration: underline;
font-size: xx-large;
margin-left: 500px;

}